.root {
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  span{
    font-size: 84px;
  }
  p{
    font-size: 24px;
  }
	button {
		color: #f6f6f6;
		margin-top: 20px;
		display: inline-block;
		background-color: #fe5f1e;
		border-radius: 30px;
		padding: 10px 20px;
		min-width: 100px;
		text-align: center;
		cursor: pointer;
		transition: background-color 0.15s ease-in-out,
			border-color 0.15s ease-in-out;
		border: 1px solid transparent;
		&:hover {
			background-color: darken(#fe5f1e, 8%);
		}
		&:active {
			background-color: darken(#fe5f1e, 12%);
			transform: translateY(1px);
		}
	}
}
